.result {
  display: none;
}

#show-place {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc
}

.clickable:hover {
  text-decoration: underline;
}

div {
  padding: 5px;
}

#map{
  margin-top: 20px;
  margin-left: 30px;
}
